body {
    background-color: #202020;
    font-family: sans-serif;
    color: #fff;
}

.in {
    color: black;
}

img {
    border-style: outset;
    border-color: gray;
    border-width: thick;
    opacity: 0.75;
}

img:hover {
    border-style: inset;
    border-color: gray;
    opacity: 1;
}